{% extends "main.html" %}
{% block content %}
	<!-- Navigation -->
	<nav class="navbar navbar-default navbar-white">
		<div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{{ url_for('showHome') }}">
					<img alt="Share A Lens Logo" src="{{ url_for('static', filename='img/brand-sm.png') }}" class="logo">
				</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#" class="button-nav-link">Rent Your Gear</a></li>
					<li><a href="#">Help</a></li>
					<li><a href="#">Sign Up</a></li>
					<li><a href="#">Log In</a></li>
					<!--<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else here</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#">Separated link</a></li>
						</ul>
					</li>-->
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
	<!-- End Navigation -->
	<div class="container">
		<div class="row text-center featured-title">
			<div class="col-xs-12">
				<h2>This page is for viewing lens search results</h2>					
			</div>
			<div class="col-xs-12">
				<ul>
					{% for lens in lenses %}
						<li>Name: {{lens.name}}<br>Brand: {{lens.brand}}<br>Type: {{lens.style}}</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="container">
			<div class="col-xs-12 text-center">
				<p class="copyright">Copyright 2015 Share-a-lens</p>
			</div>
		</div>
	</div>
{% endblock %}