{% extends "main.html" %}
{% block title %}Search Results - Share A Lens{% endblock %}
{% block content %}
	<!-- Navigation -->
	<nav class="navbar navbar-default navbar-white">
		<div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{{ url_for('showHome') }}">
					<img alt="Share A Lens Logo" src="{{ url_for('static', filename='img/brand-sm.png') }}" class="logo">
				</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#" class="button-nav-link">Rent Your Gear</a></li>
					<li><a href="#">Help</a></li>
					<li><a href="#">Sign Up</a></li>
					<li><a href="#">Log In</a></li>
					<!--<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else here</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#">Separated link</a></li>
						</ul>
					</li>-->
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
	<!-- End Navigation -->
	<div class="container">
		<div class="row">
			<div class="col-sm-2">
			</div>
			<div class="col-sm-10">
				<div class="row">
					<h2 class="text-center">Search Results</h2>
				</div>
				{% if remaining > 0 %}
				<div class="row">
					<div class="col-sm-6">
						{{ pagination.info }}
					</div>
					<div class="col-sm-6">
						{{ pagination.links }}
					</div>
				</div>
				<div class="row result-row">			
					{% for lens in lenses1 %}
						<div class="search-result col-sm-4">
							<img src="static/lens-img/{{lens.picture}}" class="img-responsive search-img">
							<p>{{lens.name}}</p>
						</div>
					{% endfor %}
				</div>
				{% else %}
					<p class="text-center">No Results</p>
				{% endif %}
				{% if remaining > 3 %}
				<div class="row result-row">			
					{% for lens in lenses2 %}
						<div class="search-result col-sm-4">
							<img src="static/lens-img/{{lens.picture}}" class="img-responsive search-img">
							<p>{{lens.name}}</p>
						</div>
					{% else %}
					{% endfor %}
				</div>
				{% endif %}
				{% if remaining > 6 %}
				<div class="row result-row">			
					{% for lens in lenses3 %}
						<div class="search-result col-sm-4">
							<img src="static/lens-img/{{lens.picture}}" class="img-responsive search-img">
							<p>{{lens.name}}</p>
						</div>
					{% else %}
					{% endfor %}
				</div>
				{% endif %}
				{% if remaining > 9 %}
				<div class="row result-row">			
					{% for lens in lenses4 %}
						<div class="search-result col-sm-4">
							<img src="static/lens-img/{{lens.picture}}" class="img-responsive search-img">
							<p>{{lens.name}}</p>
						</div>
					{% else %}
					{% endfor %}
				</div>
				{% endif %}
				{{ pagination.links }}
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="container">
			<div class="col-xs-12 text-center">
				<p class="copyright">Copyright 2015 Share-a-lens</p>
			</div>
		</div>
	</div>
{% endblock %}