<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<title>{% block title %}{% endblock %}</title>

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Lato:400,300,700,900,300italic,400italic,700italic,900italic" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Roboto:700,500,400' rel='stylesheet' type='text/css'>

	<!-- Open Graph Meta Tags -->
	<meta property="og:url" content="http://www.sharealens.com/">
	<meta property="og:title" content="Share A Lens">
	<meta property="og:description" content="Borrow a lens from a local photographer">
	<!--<meta property="og:image" content="">-->

</head>
<body>
	{% block content %}
	{% endblock %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>
